<%- include('layouts/header'); -%>
    <div class="container">
        <div class="card mt-5 p-4 atencion-card">
            <div class="card-body">
                <h4 class="card-title">Atencion al Cliente</h4>
                <div class="card-text">
                    <p>En primer lugar, queremos dejar en claro que lo más importante para nosotros es el cliente
                        y que este siempre tendrá la razón, por lo que si algo ha salido mal en la entrega del pedido,
                        o algo pasó con la comida a la hora de recibirla, de antemano pedimos disculpas por lo sucedido.</p>
                    <p>Recuerde que tiene nuestro mail, ya que le debió haber llegado un correo, en caso de que no lo tenga este es
                        <b>supermercadoenvios@gmail.com</b>, el mismo que se encuentro en el pie de página, donde también se
                        encuentra un número de contacto en caso de que quiera usarlo</p>
                    <p>Si por algún inconviente, no pudo recibir el delivery, o faltaban cosas, se le dará una suma de
                        dinero para arreglar los malestares dados</p>
                    <a class="btn btn-success mt-5" href="/">Volver a la Pág Principal</a>
                </div>
            </div>
        </div>
    </div>
<%- include('layouts/footer'); -%>