<%- include('layouts/header'); -%>
    <div class="container">
        <div class="card mt-5 p-4 compra-card">
            <div class="card-body">
                <h4 class="card-title">Gracias por su compra!</h4>
                <div class="card-text">
                    <p>Agradecemos enormemente que usted haya confiado en nosotros para realizar sus compras, como ya debe saber
                        en un lapso de hasta 48 horas le deberá llegar el delivery con lo que usted haya comprado.</p>
                    <p>En caso de que el delivery no llegue, no esté toda la comida, esta esté vencida o cualquier otro
                        inconveniente, no dude en llamarnos o ponerse en contacto con nosotros vía mail, además en la pestaña
                        de <a href="/atencion_cliente"><b>Atencion al Cliente</b></a> tendrá más información</p>
                    <h4>Desde ya, muchísimas gracias</h4>
                    <a class="btn btn-success mt-5">Volver a la Pág Principal</a>
                </div>
            </div>
        </div>
    </div>
<%- include('layouts/footer'); -%>