<%- include('layouts/header'); -%>
  <div class="container">
    <div class="py-5 text-center">
      <h2>Datos personales</h2>
      <p class="lead">Registre los siguientes datos personales para poder realizar la compra</p>
    </div>
    <div id="container-regis">
      <div class="col-md-8 order-md-1" style="padding-left: 7%;">
        <h4 class="mb-3">Datos</h4>
        <form action="/datos" method="POST">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" name="apellido" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="domicilio">Domicilio</label>
            <input type="text" class="form-control" id="domicilio" name="domicilio" placeholder="4 de Enero 9090" required>
          </div>
          <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="pago">Método de pago</label>
            <select class="form-control" name="pago" id="pago">
              <option>Efectivo</option>
              <option>Crédito</option>
            </select>
          </div>
          <button class="btn btn-success btn-lg btn-block" type="submit" style="margin-top: 30px; margin-bottom: 200px; ">Aceptar</button> 
        </form>
      </div>
    </div>
  </div>
<%- include('layouts/footer'); -%>