<%- include('layouts/header'); -%>

    <div class="container" id="title">
            <h1 class="display-3">esCrOTO online</h1>
            <p>Tú supermercado favorito desde la comodidad de tu casa.</p>
    </div>
    <div id="pasos"> 
        <p>Siga los siguientes pasos y realice su pedido:</p>
            <div class="pasos-comprar">
                <div>
                    <div class="cont__img_p">
                        <div>
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45548/black-large-square-emoji-clipart-md.png" alt="img1">
                        </div>
                        <div class="div__p">
                            <p class="p_pasos">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id sed ipsa voluptas nisi temporibus, quos veniam illo nostrum fugiat cumque eum non ad ducimus corporis quidem quam? Doloremque, ex.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont__img_p">
                        <div>
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45548/black-large-square-emoji-clipart-md.png" alt="img2">
                        </div>
                        <div class="div__p">
                            <p class="p_pasos">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id sed ipsa voluptas nisi temporibus, quos veniam illo nostrum fugiat cumque eum non ad ducimus corporis quidem quam? Doloremque, ex.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont__img_p">
                        <div>
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45548/black-large-square-emoji-clipart-md.png" alt="img3">
                        </div>
                        <div class="div__p">
                            <p class="p_pasos">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id sed ipsa voluptas nisi temporibus, quos veniam illo nostrum fugiat cumque eum non ad ducimus corporis quidem quam? Doloremque, ex.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont__img_p">
                        <div>
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45548/black-large-square-emoji-clipart-md.png" alt="img4">
                        </div>
                        <div class="div__p">
                            <p class="p_pasos">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id sed ipsa voluptas nisi temporibus, quos veniam illo nostrum fugiat cumque eum non ad ducimus corporis quidem quam? Doloremque, ex.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="cont__img_p">
                        <div>
                            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45548/black-large-square-emoji-clipart-md.png" alt="img5">
                        </div>
                        <div class="div__p">
                            <p class="p_pasos">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit id sed ipsa voluptas nisi temporibus, quos veniam illo nostrum fugiat cumque eum non ad ducimus corporis quidem quam? Doloremque, ex.
                            </p>
                        </div>
                    </div>
                </div>
            </div>           
    </div>
    <a id="pedido" href="/comprar"button"> Hacer mi pedido&raquo; </a>
        
<%- include('layouts/footer'); -%>