<%- include('layouts/header'); -%>

    <div class="container" id="title">
        <h1 class="page-title">SupermercadoEnvíos</h1>
        <p>Tú supermercado favorito desde la comodidad de tu casa.</p>
    </div>
    <div class="container cont-admin mt-5">
        <div class="card"> 
            <div class="card-body">
                <h5 class="card-title">Siga los siguientes pasos (Haga click en las imagenes si quiere para verlas mejor)</h5>
                <h5 class="card-title"> y realice su pedido:</h5>
                <div class="row">
                    <div class="col-md-3 mt-3">
                        <a href="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218159/p-1-r_tses2z.jpg" target="_BLANK">
                            <img src="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218159/p-1-r_tses2z.jpg" alt="Boton hacer mi pedido">
                        </a>
                    </div>
                    <div class="col-md-9 mt-5">
                        <p class="p__pasos">
                            El primer paso a realizar sería ir al pie de la página y hacer click en donde dice <b>Hacer mi pedido</b>. 
                            También puede hacer click en donde dice <b>Comprar</b> arriba, en la barra de navegación.
                        </p>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218408/p-2_nvnsj2.png" target="_BLANK">
                            <img src="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218408/p-2_nvnsj2.png" alt="Formulario cantidad a elegir">
                        </a>
                    </div>
                    <div class="col-md-9 mt-5">
                        <p class="p__pasos">
                            Una vez esté en la página de comprar, verá las distintas comidas separadas en categorías, para que pueda buscar lo que quiera. En donde 
                            dice <b>Cantidad a elegir</b> digite la cantidad de lo que usted quiera comprar
                        </p>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218706/p-3-r_vx4wxk.jpg" target="_BLANK">
                            <img src="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218706/p-3-r_vx4wxk.jpg" alt="Boton comprar">
                        </a>
                    </div>
                    <div class="col-md-9 mt-5">
                        <p class="p__pasos">
                            Cuando usted halla digitado todo lo que quiera comprar, solo vaya hacia el final de la página, donde encontrará
                            un boton que dice <b>Comprar</b>. Solo haga click en el para proseguir
                        </p>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218960/p-4_kkwdd5.png" target="_BLANK">
                            <img src="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610218960/p-4_kkwdd5.png" alt="Formulario datos personales">
                        </a>
                    </div>
                    <div class="col-md-9 mt-5">
                        <p class="p__pasos">
                            Ahora le aparecerá un formulario de sus datos personales, deberá digitarlos a todos para luego hacer click en <b>Comprar</b>
                        </p>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610219388/p-5_ur8uwv.png" target="_BLANK">
                            <img src="https://res.cloudinary.com/dtdfxe7fp/image/upload/v1610219388/p-5_ur8uwv.png" alt="Pagina compra realizada">
                        </a>
                    </div>
                    <div class="col-md-9 mt-5">
                        <p class="p__pasos">
                            Una vez usted ya halla hecho lo anterior al llenar sus datos y hacer click en comprar, le aparecerá una página confirmando
                            que su compra fue realizada. Además, le llegará al correo que introdujo un mail con la información de su compra.
                        </p>
                    </div>
                </div>
            </div>           
        </div>
    </div>
    <a id="pedido" href="/comprar"button"> Hacer mi pedido&raquo; </a>
        
<%- include('layouts/footer'); -%>