<%- include('layouts/header'); -%>

        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">COTO online</h1>
            <p>Hace tu pedido desde la comodidad de tu casa con COTO online, seguí los pasos que se indican debajo y su pedido estará listo.</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Hacer mi pedido &raquo;</a></p>
          </div>
        </div>

        <div class="container">
          <!-- Columnas -->
            <div class="row" id="pasos">
                <div class="col-md-4">
                    <h2>Paso 1</h2>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h2>Paso 2</h2>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h2>Paso 3</h2>
                    <p></p>        
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Paso 4</h2>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h2>Paso 5</h2>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h2>Paso 6</h2>
                    <p></p>        
                </div>
            </div>
            <hr>
        </div>
        
<%- include('layouts/footer'); -%>