<%- include('layouts/header'); -%>
<div class="login-container">
  <form action="/login" method="POST">
      <div class="form-group">
        <label for="name">Nombre de usuario</label>
        <input type="text" class="form-control login-input" name="name">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control login-input" name="password">
      </div>
      <button type="submit" class="btn btn-success">Confirmar</button>
      <p style="padding-top: 0.5%;" >Si no tiene una cuenta: <a href="/singup">Registrarse</a></p>
    </form>
</div>
<%- include('layouts/footer'); -%>