<%- include('layouts/header'); -%>
    <div class="container">
        <div class="card mt-5 p-4 info-somos-card">
            <div class="card-body">
                <h4 class="card-title">¿Quiénes somos?</h4>
                <div class="card-text">
                    <p>Es probable que si visita esta página por primera vez sin saber quienes somos, se hará esta pregunta
                        la cuál responderemos.</p>
                    <p>Somos una página de supermercados online de Santa Fe, Argentina que se dedica
                        a realizar envios a nuestros compradores, sin que estos tengan que moverse de su casa al pedir la
                        comida que quieran desde la comodidad de su computadora.</p>
                    <p>Además, tenemos los mejores precios en toda la región, por lo que si quiere ahorrar, no dude
                        en comprar acá</p>
                    <a class="btn btn-success mt-5" href="/">Volver a la Pág Principal</a>
                </div>
            </div>
        </div>
    </div>
<%- include('layouts/footer'); -%>