    <footer class="page-footer" id="footer">
        <div id="left-footer">
            <p>Número telefonico de contacto: 777-777-77</p> 
        </div>
        <div id="right-footer">
            <p>Correo electrónico de contacto: willy@reydereyes.com</p> 
        </div>
    </footer>
</body>
</html>